@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Fugaz One', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

/* RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img{display: block;
    max-width: 100%;
    height: auto;
    display: block;
}
    input,button,textarea{
        font-size: inherit;
    }
    ul li{
      list-style: none;
     }
    .container{
        padding-inline: 15px;
        margin-inline: auto;
    }
    .px-5{
        padding: 0 1.5rem;

    }

    
    a:any-link {
        -webkit-transition: all .3s ease-in 0s;
           -moz-transition: all .3s ease-in 0s;
            -ms-transition: all .3s ease-in 0s;
             -o-transition: all .3s ease-in 0s;
                transition: all .3s ease-in 0s;
                text-decoration: 0;
                display: block;
    }
    
  

    /* Small size */
    @media(min-width:768px){
        .container{
            width: 750px;
        }
    }
    /* medium size */
    @media(min-width:992px){
        .container{
            width: 970px;
        }
    }
    /*large size */
    @media(min-width:1200px){
        .container{
            width: 1170px;
        }
    }
    
    textarea{
        resize: none;
    }
    
    /* End RESET */
:root {
    /*font*/
    --FF:'Open Sans', sans-serif;
    --FFB:'Nunito', sans-serif;
    --FF-HEADING: 'Fugaz One', 'cursive';
    --FS:clamp(10px,62.5%,125% );
    /* font-size: 62.5%;  */
    /* (62.5/100) * 16px = 10p  x */

        --btn: #fff;
        --LINK-ACTIVE:orange;
        --LINK-COLOR:#19c8fa;
        --LINK-HOVER:#19c8fa;
        --MAIN--COLOR:#19c8fa;
        --MAIN--HEADING:#333;
        --MAIN--HEADING-bullet:#fff;
        --TRANSITION:0.6s ease-in-out;
        --PARGRAPH--MAIN--COLOR:#777;
        --BG--DESIGN:#1F2021;
        --BG--TRANSPARENT:hsla(193, 96%, 54%, 0.333);
        --LH:1.7;
        --SKILLBG:#dedadc;

  
}
/* start component */
.component{
    padding: 10rem;
}
.main--heading{
    text-align: center;
    margin-bottom: 200px;

    
}
.main--heading h2{
    font-weight: normal;
    font-size: 3.5rem;
    margin-bottom: 2em;
    text-transform: uppercase;
    position: relative;
    margin-top:2em;

    
}
.main--heading h2::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15REM;
     /* //DONT USE RELATIVE UNIT */
    height: 2px;
    bottom: -20PX;
    background-color: var(--MAIN--HEADING);

    
}
.main--heading h2::after{
    content: '';
   
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1.5REM;
     /* //DONT USE RELATIVE UNIT */
    height: 1.5rem;
    border-radius: 50%;
    bottom: -2.7rem;
    border: 2px solid var(--MAIN--HEADING);
    background-color: var(--MAIN--HEADING-bullet);
    transition:var(--TRANSITION) ;
    /* 
    outline: 2px double var(--MAIN--HEADING);
    outline-offset: 2px; */
}
.main--heading:hover::after{
    outline: 2px double var(--MAIN--HEADING);
    outline-offset: 2px; 
    border: 3px double var(--MAIN--HEADING);
    background-color: var(--MAIN--COLOR);

}
.main--heading p{
    position: absolute;
    text-align: center;
    /* width: clamp(400px ,450px, 500px); */
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    font-size:1.2rem ;
    line-height:1.7;
    margin-bottom: 20rem;
    max-width: 100%;
    /* maxwidth should 100% and width500px without and max or min? */
}
/* end component */
html {
    
    scroll-behavior: smooth;
    font-size: var(--FS);
    /* may be you have to make 10px or 62.5% for easy  assign the ram */
    font-family: var(--FF);
}
body{
    text-transform: capitalize;
}

.header{
    position: absolute;
    width: 100%;
    z-index: 2;
    left: 0;
}
.navbar--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 9.7rem;
}
.navbar--container::after{
    content: '';
   position: absolute;
   bottom: 3px;
   height:1px;
   
   width: 100%;
   background-color: #fff;
   z-index: 1;
 
}

.header--nav{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
.header--ul{
    display: flex;
    position: relative;

  
    
}
 

.header--ul li a{
    padding: 3.5rem  0.6em;
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  transition: 0.3s;
  position: relative;
  z-index: 2;
  font-weight: bold;
  text-shadow: 1px 2px 5px #000;
  
  
  
  
    
}
.header--ul  li a.activee,
.header--ul li a:hover,
.header--ul li a:focus
 {
  color: var(--LINK-COLOR);
  border-bottom: 1px solid var(--LINK-COLOR);
}



.header--nav .form{
    
    width: 4em;
    height: 3em;
    border-left: 2px solid #fff;
    position: relative;
    margin-left: 1em;
    align-self: center;
    


}
.header--nav .form i{
    color: white;
    font-size: 2rem;
    margin-left: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} 

.header--nav .toggle--menu{
     color: #fff;
     font-size: 2.2rem;
     
}
@media(min-width: 768px){
    .header--nav .toggle--menu{
        display: none;
    }
}
@media(max-width: 767px){
    .header--ul{
        display: none;
    }
}
.header--nav .toggle--menu:hover + .header--ul, 
.header--nav .toggle--menu:focus + .header--ul {
display: flex;
flex-direction: column;
position: absolute;
top: 100%;
width: 100%;
text-align: center;
background-color: rgb(0 0 0 / 50%);



/* left: 50%;
transform: translateX(-50%);
text-align: center;
width: 100%; */
 
}
@media(max-width:750px){

    .header--ul li a{
        padding: 15px;
        text-align: left;
    }
}
/* :start Landing */
.landing{
    min-height: 100vh;
    background-image:url(../img/slider/pexels-photo-2341830.jpg ) ;
    background-color: #1f2021;
    position: relative;
    background-size: cover;
    overflow: hidden;
}
.overlay-landing{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: hsla(0, 0%, 0%, 0.445);
}
  
    .text--info{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding: 5em;
        background-color: rgba(15 116 143 /30%);
        width:clamp(50% , 3vh, 80% );
        display: flex;
        justify-content: flex-end;
        box-shadow: 5px 5px 25px 3px rgba(0, 140, 255, 0.363);
        text-shadow: 1px 2px 2px  #000;
        
    }
   
     .text--content{
        /* max-width: 600px; */
        display: flex;
        flex-flow: column wrap;
        align-items: space-between;
       gap: 1.5em;
       line-height: 1.5;
       margin-left: 1em;
       width:400px ;
       

       
    }
    .text--h2{
         color: #fff;
         font-size: 2.6rem;
         margin-bottom: 20px;
         text-align: left;

    }
    .text--h2+p{
        color: #fff;
        font-size: 1.4rem;
        line-height: 2;
    } 
  
    .landing .change--BG{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        z-index: 1;
        font-size: 3rem;
        cursor: pointer;
    }
    .landing .change--BG:hover{
        color: #19c8fa;
    }
   .landing .fa-angle-left{
        
        left: 20px;
    }
   .landing .fa-angle-right{
        right: 20px;
    }
    .landing .bullets{
        position: absolute;
        bottom: 10px;
        left: 50%;
       
        transform: translateX(-50%);
        display: flex;
    }
    .landing .bullets li{
        width:1.5em;
        height: 1.5em;
        border: 1px solid #fff;
        border-radius: 50%;
         margin-left: 2em;
         
         
        }
        .landing .bullets :is(li:hover,li:focus){
        background-color: #19c8fa;
        cursor: pointer;
        
        
    }
    .active{
        background-color: #19c8fa;
        
    }
    @media(max-width:768px){
        .landing{
           
            background-image:url(../img/slider/pexels-photo-2246476.jpg ) ;
            
        }
        .landing .text--content{
            max-width: 100%;
        }
        .text--info{
            width: 100%;
            justify-content: center;
            padding: 10px;
            box-shadow: 1px 1px 11px rgba(0, 200, 255, 0.726);
            text-shadow: 1px 5px 10px rgba(0, 200, 255, 0.726);
            background-color: rgba(8, 144, 182, 0.5);
        }
       
        .landing .change--BG{
            font-size: 2rem;
        }
        .text--h2{
            color: #fff;
            font-size: 2rem;
            margin-bottom: 20px;
            text-align: center;
            line-height: 2;
            text-shadow:  1px 2px 5px #000;
            
        }
        .text--h2+p{
            color: #fff;
            font-size: 1rem;
            line-height: 2;
            text-align: justify;
            font-weight: light;
            text-shadow:  1px 1px 3px #000;
            
       } 

    }
    @media(min-width:769px){
        .text--info{
            width: 62%;
            justify-content: flex-end;
        }
    @media(max-width:992px){
        .landing{
           
            background-image:url(../img/slider/pexels-olegbf-oleg-borisov-1342650.jpg) ;
            
        }

        .text--content{
            max-width: 600px;
            display: flex;
           width: 70%;
           /* flex-basis:600px ; */
           flex: 1;
    
           
        }        
        .text--content .text--h2{
            color: #fff;
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
   
       }    .text--content .text--h2+p {
           color: #fff;
           font-size: 1.3rem;
           line-height: 1.5;
       } 
        }   
    }
       /* end Landing */
       /* start service */
       .service{
        margin-bottom: 100px;
       }
       .col{
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
       
        gap: 3rem;
       }
       .col-serv{
        display: flex;
        column-gap:3rem;
        align-items: center;
        padding: 3em;
        
        
       }
       .col-serv-icon{
        width: 50px;
        align-self:flex-start;
        flex-shrink: 1;
    }
    .col-serv-icon img{
        
        box-shadow: 1px 0px 11px 11px hsla(0, 4%, 90%, 0.157);
        
        font-weight: bold;
       }
       .text-info{
        flex: 1 ;


       }
       .text-info h3{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: var(--MAIN--COLOR);
        

       }
       .text-info h3 + p{
        color: var(--PARGRAPH--MAIN--COLOR);
        line-height: 1.8;
        text-align: justify;
       font-size: 1.2rem;
       }
       @media(max-width:768px){
        .col{
         display: grid;
        grid-template-columns: repeat(1, minmax(50px, 1fr));
       
        gap: 3rem;
        text-align: center;}
        .col-serv{
            display: grid;
            grid-template-columns: repeat(1, minmax(100px, 1fr));
            place-items: center;
            gap:2rem;
           
            
        }
        .text-info h3{
            font-size: 1.5rem;

        }
      
    
       }
       /* end service */ 

       /* <!-- #service-bottom
      ========================== --> -->
    <!-- start Design --> */

       .design{
        background-color: var(--BG--DESIGN);
        overflow: hidden;
        position: relative;
        min-height: 60vh;
        margin-bottom: 10rem;
        width: 100%;
        
       }
       .design--set{
        
        display: flex;
        flex-direction: row-reverse;
        height: 100%;

       }

       .responsive--img{
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 250px;

       }
       .desgin--img img:nth-child(1){
        left: 14%;
        bottom: 0px;
        z-index: 1;

       }
       .desgin--img img:nth-child(2){
        
        bottom: -50px;

       }
       .design--set .service-features{
        position: absolute;
        top: 50%;
        transform: translateY(
            -50%
        );
      background-color: var(--BG--TRANSPARENT);
        color: var(--MAIN--HEADING-bullet);
        min-width:45%;
        justify-self: end;
        min-height: 3.35rem;
        /* overflow: hidden; */
        display: flex;
        flex-direction: column;
       
        padding: 50px 0 50px 65px;

        
        
       }
       .service-features h3{
        font-size: 3rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
        font-weight: normal;

       }
       .service-features  ul li{
        font-size: 2rem;
        margin-bottom: 1rem;
        position: relative;
        background: url("../img/icons/list-bg.png") no-repeat scroll 0 13px transparent;
        font-size: 16px;
        line-height: 36px;
        padding-left: 50px;
        
       }
     @media(max-width:768px){
        .responsive--img{
            display: none;
        }.design--set .service-features{
            width: 100%;
            min-height: 10rem;
            /* height: 100%; */
        }
        .service-features h3{
            font-size: 1.5rem;
            margin-bottom: 2rem;
            text-shadow: 1px 2px 5px #333;

        }
        .service-features  ul li{
            font-size: 1.3rem;
            margin-bottom: 1rem;
            position: relative;
            background: url("../img/icons/list-bg.png") no-repeat scroll 0 1px transparent;
            background-size: 14px;
            
            
            line-height: 13px;
            padding-left: 30px;
            
           }
     }
     @media(min-width:768px){
        .responsive--img{
            width: 150px;
           
        }
        .design--set .service-features{
            max-width: 35%;
            min-height: 10rem;
        }
        .service-features h3{
            font-size: 2rem;
            margin-bottom: 1rem;
            text-shadow: 1px 2px 5px #333;

        } 
        
     }
     @media(max-width:992px){
        .responsive--img{
            width: 150px;
           
        }
       
       
        
     }

     /* start porto */
     .porto{
        padding-bottom:6rem;
    }
    .porto  .items{
         padding-bottom:2rem;
        
     }
    .porto .portoo{
         display: grid;
         grid-template-columns: repeat(5,1fr);
         text-align: center;
         align-items: center;
         justify-content: space-between;
         gap: 5px;
         margin-bottom: 2rem;
        
     }
     .porto  .all-li{
        font-size: 1.3rem;
        padding: 0.5rem 1rem;
        border-radius: 15%;
        cursor: pointer;
        transition: all 1s ease-in-out;
     }
     .porto  .all-li:hover{
        color: white;
        background-color: #19c8fa;
     }
     .row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        height: 100%;
        
    }
    .card{
        border: 3px solid rgb(251, 245, 245);
        overflow: hidden;
        height: 290px;
        width: 300px;
        padding: 10px;
        position: relative;
        transition: all .1s ease-in-out;
        
    }
    .card:hover{
        transform: rotate(1.5deg) scale(1.1);;
        
     }
     .card img{
        height: calc(290px - 40px);
     

    }
     .card .figCard{
        position: absolute;
        bottom: -100px;
        background-color: #fff;
        width: 100%;
        padding: 10px;
        left:5px;
        transform: translateY(0);
        transition: all .2s ease-in;
        
    }
    .card .figCard p {
        font-size: 1.5rem;
    }
    .card .figCard p:nth-child(2){
        color: var(--LINK-COLOR);
    }

    .card:hover .figCard{
               
        bottom: 5px;
   }
   
   .row .btn {
    padding: 1rem 2.5rem;
    margin: 2rem 0;
    background-color: var(--LINK-COLOR);
    color:  var(--MAIN--HEADING-bullet);
    font-size: 1.5rem;
    
    transition: all 1s ease;
   }
   a{
    display: block;
   }
   .row .btn:hover{
    
    filter: blur(4);
   }
     /* end porto */
     /* start Video */
    .video{
        margin: 3rem 0;
        position: relative;
       
    }
    video{
        background-color: black;
        width: 100%; height: 500px;s
       
    }
     .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 4%, 0.445);
        z-index: 1;
     }
     .video .text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1rem;
        width: 100%;
        text-align: center;
        background-color: var(--BG--TRANSPARENT);
        padding: 20px;

     }
     .text h2{
        margin-bottom: 10px;
        font-size: 1.2rem;
        color: var(--MAIN--HEADING-bullet);
     }
     .text  p{
        margin-bottom: 10px;
        font-size: 1rem;
        color: var(--MAIN--HEADING-bullet);
     }
     .text .btn{
        background-color: var(--BG--DESIGN);
        padding: .5rem 1rem;   
        max-width:20% ;     
        color: var(--MAIN--HEADING-bullet);
        margin: 0 auto;
        border-radius: 20px;
     }
     /* endVideo */
     /* start status */
     .status{
        /* min-height: 100vh; */
        background-image: url(../img/slider-bg.jpg);
        padding-top:6rem ;
        padding-bottom:6rem ;
        position: relative;
        
    }
   
     .box{
        
       /* position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50% , -50%); */

        color: var(--MAIN--HEADING-bullet);
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        gap: 20px;
        
        padding: 40px;
        align-content: center;
        background-color:var(--BG--TRANSPARENT);
       
     }
     .boxx{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
        
    }
    .boxx i{
        margin-bottom: 2rem;
        background-color: #000;
        padding: 10px;
        border-radius: 40%;
        font-size:1.6rem;
        margin: auto;
     }
     .boxx .number{
        padding-bottom: 2rem;
        font-size: 3rem;
     }
     .boxx .letter  {
        padding-bottom: 1rem;
        font-size: 1rem;
     }
     /* end status */
 /* start our Skill */
     .ourSkill{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .testimonials{
        padding-top: 5rem;
         padding-bottom: 5rem;


     }
    .test-Text{
         padding-bottom: 5rem;
        text-align: center;

     }
    .test-Text h3{
        margin-bottom: 1rem;
        font-weight: lighter;
        font-size: 1.5rem;
     }
     .test-Text p{
        color: var(--PARGRAPH--MAIN--COLOR);
     }
     .testPerson{
        display: flex;
        margin-bottom: 2em;
        margin-top: 2em;
     }
    
     
     .testPerson img{
        /* width: 50%; */
        border-radius: 50%;
        width: 50px;
    }
    .testPerson figcaption{
         flex: 1;
        align-self: center;
        align-content: center;
        margin-left: 3em;
        line-height:var(--LH);
        position: relative;
     }
     .testimonials .Name{
        display: flex;
        justify-content: end;
     }
     .testimonials .bullet{
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 1rem;
        
        
    }
    .testimonials .bullet li{
         display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin: auto;
        
        border-radius: 50%;
        border: 1px solid #000;
        
    
      
      
     }
     .testimonials .bullet :is(li:hover,li:focus){
     background-color: #19c8fa;
     cursor: pointer;
     
     
 }

 .skill-text{
    padding-bottom: 5rem;
    text-align: center;
    
 }
 .skill-text h3{
    margin-bottom: 1rem;
    font-weight: lighter;
    font-size: 1.5rem;
 }
 .skill-text p{
    color: var(--PARGRAPH--MAIN--COLOR);
    line-height: var(--LH);
 }
 .prog-holder h4{
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 2rem;
 }
 .prog-holder .prog {
    height: 30px;
    background-color: var(--SKILLBG);
 }
 .prog-holder .prog span {
    background-color: var(--MAIN--COLOR);
    height: 100%;
    display: block;
    position: relative;
 }
 .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    top: -30px;
    right: -10px;
    font-size: 1.2rem;
    background-color: #000;
    text-align: center;
    padding: .2rem;
    border-radius: 10%;
    color: var(--MAIN--HEADING-bullet);


 }
 .prog-holder .prog span::after {
    content: '';
   border-style: solid;
   border-width: 7px;
   border-color: #000 transparent transparent ;
   position: absolute;
   right: -3px;
   top: -13px;
 }
 /* end our Skill */
 /* start quote */
 .quote{
    padding-top: 5rem;
    padding-bottom: 5rem; 
    position: relative;
 }
 .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bg-quote{
    background-image: url(../img/../img/aftereditebyphotoshop/36.png );
    background-size: cover;
    width: 100%;
    padding: 150px 0 ;
    background-repeat: no-repeat;
    height: auto;
    display: block;
    filter: blur(.1px);
 }
 .bg-quote .names{
    display: flex;
    flex-direction: column;
     color: var(--MAIN--HEADING-bullet);
     align-items: center;
     justify-content: center;
 }
 .bg-quote q{
    font-size: 1.3rem;
    z-index: 0;
    /* width: 100%; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);*/
    text-align: center; 
    line-height: var(--LH);
    


 }
 .bg-quote p{
    margin: 15px 0;
    text-shadow: 1px 1px 5px #000;
 }
 /* end quote */
 /* strat  pricing */
 .plans{
     text-align: center;
     /* display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     gap: 40px; */
    }
    .plan{
     margin-top: 9em;
    background-color: #fcfcfc;
    text-align: center;
 }
 .sec-pric {
    padding-top: 2em;
    padding-bottom: 2em;
}
.pricing button .ss:hover {
    

    color: rgb(255, 255, 255);
 
}
 .head{
     border-top: 1px solid var(--MAIN--COLOR);
     border-bottom: 1px solid var(--MAIN--COLOR);
     padding: 2em;
 }
 .head h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1em;
 }
 .head p{
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: .2em;
    position: relative;
 }
 .head p::before{
    content: "$";
    position: absolute;
    font-size: 2rem;
    left:10px;
    top:-12px;
    font-weight: 400;
 }
 .head p::after{
    content: "/Mo";
    position: absolute;
    font-size: 2rem;
    right:-1px;
    bottom:7px;
    font-weight: 600;
 }
 .card-body{
    padding: 3em 0;
    border-bottom: 1px solid var(--MAIN--COLOR);
    
}
.card-body li{
    padding: 1em 0;
    font-size: 1.3rem;
    width: 50%;
    border-bottom: 1px solid var(--MAIN--COLOR);
    margin: 0 auto;
 }
 .card-body ul li:last-child{
    border:none
    
 }
 .card-foot{
    padding: 5rem 0;
 }
 .card-foot button{
    background-color: transparent;
    border-color: var(--MAIN--COLOR);
 }
 .card-foot button:hover{
    background-color: rgba(144, 167, 15, 0.314);
    border-color: rgba(195, 255, 0, 0.37);
  
 }
 .card-foot button a{
    padding: .5em 1em;
    outline: none;
    background-color: transparent;
    border-color: var(--MAIN--COLOR);
    font-size: 2rem;
    color: var(--MAIN--HEADING);
    width: 100%;
 }
 .pricing h4{
     text-align: center;
     font-size: 1.5rem;
 }
 .sec-pric{
    text-align: center;
 }
 .pricing .sec-pric button{
    margin: 4em auto;
    ;
    background-color: var(--LINK-COLOR);
    border: none;
    outline: none;    
    border-radius: 4%;
 }
 .pricing button a{
    padding: .5em 1em;
    background-color: transparent;
    border-color: var(--MAIN--COLOR);
    font-size: 2rem;
    color: var(--MAIN--HEADINGADING-bullet-HEADING-bulletING);
    width: 100%;
    
 }
 /* End  pricing */
 /* start subscribe         */
 .sub{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url(../img/aftereditebyphotoshop/30.png);
    background-size:cover ;
    position: relative;
 }
 .sub::before{
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgb(0 0 0 / 50%);
 }
 .sub .container{
    position: relative;
    /* display: flex;
    align-items: center; */ 
    margin: 10px auto;

 }
 .sub form{
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
    
 }
 form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;

    color: var(--MAIN--HEADING-bullet);
    /* margin-right: 2rem; */
 }
 form input[type="email"]{
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 10px 10px 10px 40px;
    /* padding: 20px 20px 20px 40px; */
    caret-color: var(--MAIN--COLOR);
    /* width: calc(100% - 130px); */
    width: calc(100% - 50px);
    color: #fff;
    
}
form input[type="submit"]{
    width: 60px;
    background-color: var(--LINK-HOVER);
    border-left: none;
    cursor: pointer;
    border: 1px solid white;
    padding: 5px 5px;
    font-size:.8rem;
    color: white;
    text-transform: uppercase;
    outline: 0;

}
form input::placeholder{
    color: white;
    font-size:1em;
}
.sub p{
    margin: 1em;
    color: var(--MAIN--HEADING-bullet);
    line-height: var(--LH);
    text-align: center;

}
form input[type="email"]:focus,
form input[type="email"]:active{
    border: 1px solid white;
    background-color: none;
    outline: none;
    border-right: none;
}

 /* Endsubscribe         */
 /* start contact */
 .contact{
    padding-top: 5rem;
    padding-bottom: 5rem;
 }
 .cont-address{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

 }
 .links-add{
    margin-top: 1em;
    margin-bottom: 1em;
}
.links-add p{
    font-size: 1.5rem;
    margin-bottom: 1em;
 }
.links-add a,
.links-add address
{
    color: var(--PARGRAPH--MAIN--COLOR);
    font-size: 1.5rem;
    margin-bottom: 1em;
 }
 .contForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
}
.contForm input{
    height: 50px;
    padding: 1em;
}
.contForm textarea{
     padding: 1em;
     margin-bottom: 2em;

 }
 .btn-con{
    text-align: end;
    display: flex;
    justify-content: flex-end;
    
 }
 .btn-con button{
    outline: 0;
    border: 0;
    background-color: transparent;;
    background-color: var(--MAIN--COLOR);
    padding: 1em 1.5em;text-align: end;
    color: var(--btn);
 }
 
 


 /* End contact */
  /* start footer */
  footer{
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    background-image: url(../img/aftereditebyphotoshop/41.png);
    background-size: cover;
    border-top: 1px solid red;
    box-shadow: 1px 1px  20px 5px red ;
  }
  footer:before{
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgb(0 0 0 / 50%);
  }
  footer .container{
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
  }
  .text-foot{
      border-bottom: 2px solid white;
    }
    .text-foot p{
        
        margin-bottom: 1em;
        font-size: 1rem;
        color: var(--MAIN--HEADING-bullet);
  }
  .nemi ul {
    display:  flex;
    justify-content: center;
    gap: 10px;
  }
  footer .nemi ul li {
     background-color: #000;
     font-size: 16px;
     padding: 10px;
     margin: auto;
     color: white;
     border-radius: 10%;
     /* width: 10px;
     height: 50px; */
     text-align: center;
  }
  footer .nemi ul li:nth-child(1){
    background-color:#1877F2 ;
  }
  footer .nemi ul li:nth-child(2){
    background-color: #1DA1F2 ;
  }
  footer .nemi ul li:nth-child(3){
    background-color: #131418;
  }
  footer .nemi ul li:nth-child(4){
    background-color: #0A66C2;
  }
  .copyright{
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
  }
  .copyright strong{
    display: block;
    margin-top: 1.5rem;
    color: gold;
    text-align: center;
  }
  /* end footer */